/*-------------------OVERALL-------------------*/
*{
    padding: 0;
    margin: 0;
}
.deleteLater{
    border: 2px dotted red;
}
.container{
    display: flex;
}
.whole{
    width: 80%;
    height: 100%;
    background-color:lemonchiffon;
    font-family: sans-serif;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between
}
.align-items{
    align-items: baseline;
}
.pad-thick{
    padding: 30px;
}
.margin-thick{
    margin: 30px;
}
.margin-reg{
    margin: 10px;
}
.border-reg{
    border: 1px solid darkslategray;
}
.italic{
    font-style: italic;
}
.largeFont{
    font-size: 20px;
}
.regularFont{
    font-size: 15px;
}

/*-------------------TOP-------------------*/
.header{
    display: inline-flexbox;
    height: 100px;
    align-items: center;
    background-color: orchid;
}
.buttons{
    width: 300px;
    padding: 10px;
}
.buttons button{
    background-color: chartreuse;
    border-radius: 25%;
    padding: 10px;
}
.search{
    height: 200px;
    width: 100%;
    background-color: rebeccapurple;
    align-items: center;
}
.searchbar{
    height: 50px; 
    width: 400px;
    margin-left: 20px;
}
.search img{
    height: 100px;
    width: 100px;
}

/*-------------------MAIN-------------------*/
.col-3{
    flex: 2;
}
.col-2{
    flex: 1;
}

/*-------------------LEFT-------------------*/
.recipe img{
    width: 100%;
    margin-top: 50px;
}
.likes{
    width: 200px;
}
.likes button{
    background-color: chartreuse;
    border-radius: 25%;
    width: 40px;
}
.video{
    width: 400px;
    height: 100%;
}
